.dio-btn {
  @extend .btn;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  width: 8.2rem;
  height: 3rem;
  line-height: 1 !important;
  vertical-align: baseline !important;
}

.dio-btn-success {
  @extend .btn-success;
/*  background-color: #84DB70;
  color: whitesmoke;*/
}

.dio-btn-danger {
  @extend .btn-danger;
}