
 #areaCellars {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wine-are {
    text-align: center;
}
.area {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
}

.lineBottle {
    display: flex;
    width: 300px;
}

.column-area {
    display: flex;
    flex-direction: column;
}

.column-area span {
    text-align: center;
}

.contentBottle {
    display: flex;
    justify-content:center ;
}

.draggable-red, .draggable-rose, .draggable-white {
    background-size: 28px 28px;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 28px;
    width: 28px;
}

.draggable-white {
    margin: auto;
    background-image: url("../images/vinblanc.png");
    
}
.draggable-rose {
    margin: auto;
    background-image: url("../images/vinrose.png");
    
}
.draggable-red {
    margin: auto;
    background-image: url("../images/vinrouge.png");
    
}
.row-area {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}
.contentBottle {
    display: inline-block;
    width: 40px;
    height: 30px;
   
    border-bottom: 10px solid #3c3c3c;
    border-right: 2px solid #3c3c3c;
    border-left: 2px solid #3c3c3c;
    // background-image: url('../../src/images/test.jpg');
    // background-repeat: no-repeat;
    border-bottom-right-radius:50px;
    border-bottom-left-radius:50px;
  }
@media  (min-width: 1068px) {
    #areaCellars {
        padding-top: 10VH;
        flex-direction: row;
    }
    .wine-are {
        margin-right: 10vh;
        width: 100%;
    }
    

}