.form-check-label .redZone{
    color: $vin-rouge-couleur;
}
.form-check-label .pinkZone{
    color:rgba(228, 86, 110, 0.781);
}
.form-check-label .whiteZone{
    color:#b1962a;
}

.form-check-input#checkRedWine:checked {
    background-color:$vin-rouge-couleur !important;
    border-color:$vin-rouge-couleur !important;
}

.form-check-input#checkPinkWine:checked {
    background-color:rgba(228, 86, 110, 0.781) !important;
    border-color:rgba(228, 86, 110, 0.781) !important;
}

.form-check-input#checkWhiteWine:checked {
    background-color:#b1962a !important;
    border-color:#b1962a !important;
}
#btnNextStep,#btnSubmit,#btnSubmitRed,#btnNextStep2,#btnPrevStep2{
    background-color: $vin-rouge-couleur;
    border-color: $vin-rouge-couleur !important;
    color: whitesmoke;
}
.btnPrevNextOfCreateZoneRed{
    background-color:#aa445f !important;
    color: whitesmoke;

}
#btnPrev{
    background-color: $vin-rouge-couleur;
    border-color: $vin-rouge-couleur !important;
    color: whitesmoke;
}


#formForCreateCellar #btnNextStep{
    width:50% !important;
    margin: 0 auto !important;
}
.btnWithStep{
    display: flex !important;
}

#btnSubmitPink{
    background-color:rgba(228, 86, 110, 0.781) !important;
    color: whitesmoke;
}

#btnSubmitWhite{
    background-color:#b1962a !important;
    color: whitesmoke;
}
// slider
  .slidecontainer {
    width: 100% !important;
    // position: relative;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 42em;
    height: 25px;
    margin-left: 1.5em;
    border-radius:2px ;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background:$vin-rouge-couleur;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
   border-radius: 100%;
    background: $vin-rouge-couleur;
    // cursor: pointer;
  }
//   input[type=range]:focus::-webkit-slider-runnable-track {
//     background: #03a9f4;
//   }
input[type=range] {
    -webkit-appearance: none;
    margin: 20px 0;
    width: 100%;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 4px;
    cursor: pointer;
    // animate: 0.2s;
    background: $vin-rouge-couleur;
    border-radius: 25px;
  }
  input[type=range]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $vin-rouge-couleur;
  }
  .range-wrap{
    width: 500px;
    position: relative;
  }
  .range-value{
    position: absolute;
    top: -50%;

  }
  .range-value span{
    width: 30px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: $vin-rouge-couleur;
    color: #fff;
    font-size: 12px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 6px;
    margin-top:2.2em;
  }
  .range-value span:before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 10px solid $vin-rouge-couleur;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    margin-top: -1px;
  }

  select {
    @extend .form-select;
  }
