.form-check-label .redZone{
    color: $vin-rouge-couleur;
}
.form-check-label .pinkZone{
    color:rgba(228, 86, 110, 0.781);
}
.form-check-label .whiteZone{
    color:#b1962a;
}

.form-check-input#checkRedWine:checked {
    background-color:$vin-rouge-couleur !important;
    border-color:$vin-rouge-couleur !important;
}

.form-check-input#checkPinkWine:checked {
    background-color:rgba(228, 86, 110, 0.781) !important;
    border-color:rgba(228, 86, 110, 0.781) !important;
}

.form-check-input#checkWhiteWine:checked {
    background-color:#b1962a !important;
    border-color:#b1962a !important;
}
#btnNextStep,#btnSubmit,#btnNextStep2,#btnPrevStep2{
    background-color: $vin-rouge-couleur;
    border-color: $vin-rouge-couleur !important;
    color: whitesmoke;
}
.btnPrevNextOfCreateZoneRed{
    background-color:#aa445f !important;
    color: whitesmoke;

}
#btnPrev{
    background-color: $vin-rouge-couleur;
    border-color: $vin-rouge-couleur !important;
    color: whitesmoke;
}


#formForCreateCellar #btnNextStep{
    width:50% !important;
    margin: 0 auto !important;
}
.btnWithStep{
    display: flex !important;
}

#btnSubmitPink{
    background-color:rgba(228, 86, 110, 0.781) !important;
    color: whitesmoke;
}

#btnSubmitWhite{
    background-color:#b1962a !important;
    color: whitesmoke;
}

input[type=range] {
    // -webkit-appearance:none !important;   /*nécessaire pour Chrome */
    padding: 0;                   /* nécessaire pour IE */
    // font: inherit;                /* même rendu suivant font document */
    // outline: none;
    color: $primary-color !important;/* sert pour couleur de référence, via currentColor, pour le curseur */
    opacity: .8;
    // background:$primary-color!important; /* sert pour couleur de fond de la zone de déplacement */
    // box-sizing: border-box;       /* même modèle de boîte pour tous */
    transition: opacity .2s;
    cursor: pointer;
  }

  input[type="range"]::-moz-range-progress {
    background-color: #43e5f7; 
  }