.table-hover tr:hover{

    cursor:pointer !important; //set the cursor to pointer (hand)
    background-color: $primary-color!important ; //sets hovered row's background color to blue
    color: blanchedalmond !important;
}
