.mobile {
    display: block;

    .bottle-card {
        margin: 1em;
        background-color: whitesmoke;
        border-radius: 5px;
        border: solid 1px $primary-color;
        display: flex;
        cursor: pointer;

        .card-img {
            width: max-content;

            img {
                border-radius: 5px 0 0 5px;
            }
        }

        .card-body {

            img {
                width: 2em;
            }
        }
    }
}

.browser {
    display: none;
    @extend .container-md;
}

.table-hover tr:hover{

    cursor:pointer !important; //set the cursor to pointer (hand)
    background-color: $primary-color!important ; //sets hovered row's background color to blue
    color: blanchedalmond !important;
}

button {
    @extend .btn;
    @extend .btn-light;
    @extend .btn-outline-primary;
}

#filters {
    display: flex;
    flex-wrap: wrap;
    select {
        @extend .form-select;
        max-width: 20%;
    }
}

@media (min-width: 600px) {
    .mobile {
        display: none;
    }

    .browser {
        display: block;
    }
}