.navigation {
    background-color: $primary-color;

    ul {
        display: flex;

        li {
            padding: 0.5em;
            list-style: none;
            width: fit-content;

            a {
                color: whitesmoke;
                text-decoration: none;
                font-weight: bold;
            }

            &:nth-child(1) {
                margin-left: 1em;
            }

            &:hover {
                background-color: whitesmoke;

                a {
                    color: $primary-color;
                }
            }
        }
    }
}