.new-bottle-container {
    align-items: center;

    form {

        ul {

            li {
                list-style: none;
                display: flex;
                justify-content: space-between;
                margin-top: 1em;

                label {
                    font-weight: bold;
                    font-size: 1.1em;
                }

                input {
                    border: solid 1px black;
                    border-radius: 2px;
                }
            }
        }
    }
}